/* ----------------------Copyright-Fix---------------------- */
body{
  min-height: 100%;
  position: relative;
}
#mainwindow{
	padding-bottom: 100px;
}
footer{
	position: absolute;
	bottom: 0px;
	width: 100%;
	/* height: 92px; */
	height: 52px;
	background-color:#C4C4C4;
	z-index:11;
}
#footer_content{
	font-size:15px;
	width: 100%;
	text-align:center;
}
#footer_top{
	line-height: 20px;
	/* padding: 13px; */
	padding: 3px;
}
#footer_bottom{
	/*position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;*/
	background-color:#575757;
	line-height: 20px;
	/* padding: 13px; */
	padding: 3px;
}
/* ----------------------Copyright-Fix---------------------- */

html, body{
	margin: auto;
	background-color: #eee;
	font-family: Arial,sans-serif;
}

html{
	height: 100%;
	overflow-y: scroll;
}

input, button{
	border-radius: 2px;
}

button,
input[type=submit],
input[type=button] {
	background-color: #9a9a9a;
	color: #fff;
	border: 0px;
	cursor: pointer;
	padding: 1px 5px 5px;
	margin: 0px 0;
	border-top: 2px solid #9a9a9a;
	transition: border-top 0.1s ease;
	height: 24px;
}

button:hover:enabled, button:active:enabled,
input[type=submit]:hover:enabled, input[type=submit]:active:enabled,
input[type=button]:hover:enabled, input[type=button]:active:enabled {
	border-top: 2px solid #B3C833;
	transition: border-top 0.1s ease;
}

button:disabled,
input[type=submit]:disabled,
input[type=button]:disabled {
	background-color: #ccc;
	color: #fff;
	cursor: default;
	border-color: #ccc;
}

input:not([type=submit]):not([type=button]), textarea{
	margin: 0 5px;
	padding: 2px;
	border: 1px solid #aaa;
}

p {
	font-family: Arial,sans-serif;
}

a {
	font-family: Arial,sans-serif;
	text-decoration: none;
	color: #00ABF5;
}

.icon{
	height: 24px;
	width: 24px;
	margin: 0px 6px;
	background-image: url('../Pictures/SiteContent/icons.png');
	background-size: 500%;
	cursor: pointer;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}

.icon.checkmark{
	display: block;
	background-position: 0 0;
}

.icon.cross{
	display: block;
	background-position: 25% 0;
}
.icon.edit{
	display: inline-block;
	background-position: 50% 0;
}

.contentBlock {
	background-color: white;
	vertical-align: top;
	width: 0px;
	border-radius: 5px;
}

.contentBlock a:hover, .contentBlock a:focus {
	text-decoration: underline;
}

h1 {
	font-size: 26px;
	font-weight: normal;
	line-height: 36px;
	color: #00ABF5;
	margin: 5px 0;
}

h2 {
	font-weight: normal;
	line-height: 36px;
	color: #00ABF5;
}

h3 {
	font-weight: normal;
	line-height: 36px;
	color: #00ABF5;
}

/*All pages*/

#mainwindow {
	margin: 0 auto;
	width: 1000px;
	min-height:100%;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	z-index: 10;
	position: relative;
	padding-top: 40px;
}

#streamsTable{
	margin: auto;
}

.label {
	background-color: #B3C833;
	padding: 10px;
	margin: 0;
	border-radius: 5px;
}

.labelBorder {
	background-color: white;
	border: 1px solid grey;
	padding: 5px;
	margin: 0;
}

.formError {
	background-color: #d00;
	padding: 5px;
	border-radius: 5px;
}

.settingsalert{
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	margin-top: -34px;
	margin-bottom: 4px;
}

.settingsalert.success{
	background-color: #090;
	color: #fff;
}

.settingsalert.error{
	background-color: #d00;
}

.listen-error{
	padding: 4px 10px;
	background-color:#f55;
	position: absolute;
	width: 700px;
	margin-top: -2px;
	border-radius: 5px;
}

.triangle {
	margin: 0;
	outline: 0 none;
	padding: 0;
	position: relative;
	top: -22px;
}

#triFriendShp {
	left: 130px;
}

#triNotifi {
	left: 157px;
}

#profilcrop {
	width: 40px;
	margin-left: 10px;
	border: 0px;
}

#profilPicCrop {
	height: 40px;
	overflow: hidden;
	float: left;
	display: block;
}


/* ======================================================================== */
/*								HEAD										*/
/* ======================================================================== */

#head {
	background-color: #575757;
	height: 30px;
	position: fixed;
	padding: 7px 0;
	z-index: 30;
	/* box-shadow: 0 0 2px #555; */
	width: 100%;
}

#headContent {
	width: 1200px;
	height: 100%;
	margin: auto;
}

/* =============================LOGO======================================= */
#logo {
	float: left;
}

#logo img{
	width: 200px;
	margin-top: 3px;
}

/* =============================SUCHE====================================== */
#headSearch{
	float: left;
}

#headSearch form input[type="text"]{
	font-size: 16px;
	width: 300px;
	border-radius: 5px;
	border: 0;
	margin: 3px 20px;
	height: 20px;
	padding-left: 6px;
	padding-right: 30px;
}

#searchButton{
	cursor: pointer;
    color: #888;
	line-height: 10px;
	padding: 4px;
	margin: 6px;
	margin-left: -48px;
	position: absolute;
	border-left: 1px solid #888;
}

/* Safari, Chrome */
input::-webkit-input-placeholder {
    color: #888;
}
input:focus::-webkit-input-placeholder {
    color: #bbb;
}

/* Firefox < 19 */
input:-moz-placeholder {
    color: #888;
	opacity: 1;
}
input:focus:-moz-placeholder {
    color: #bbb;
}

/* Firefox > 19 */
input::-moz-placeholder {
    color: #888;
	opacity: 1;
}
input:focus::-moz-placeholder {
    color: #bbb;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #555;
}
input:focus:-ms-input-placeholder {
    color: #bbb;
}

/* =============================HEADBUTTONS================================ */
#headButtons {
	float: right;
}

/* =============================HEADNAME=================================== */
.headLink {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	margin-right: 20px;
	display: block;
	background-color: #999;
	border-radius: 5px;
	overflow: hidden;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

.headLink:hover{
	background-color: #888;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

#headPicCrop {
	height: 24px;
	width: 24px;
	overflow: hidden;
	float: left;
	display: block;
}

#headName{
	padding: 0 10px 0 8px;
}

/* =============================HEADICONS================================== */
#settings{
	background-position: 0 25%;
}
#settings:hover,
#settings .clicked{
	background-position: 0 50%;
}

#friendrequests{
	background-position: 25% 25%;
}
#friendrequests:hover,
#friendrequests.clicked{
	background-position: 25% 50%;
}

#messages{
	background-position: 50% 25%;
}
#messages:hover,
#messages.clicked{
	background-position: 50% 50%;
}

#notifications{
	background-position: 75% 25%;
}
#notifications:hover,
#notifications.clicked{
	background-position: 75% 50%;
}

.rotate {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	transition-property: transform;
	overflow: hidden;
}

.rotate:hover {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

/* =============================HEADPOPUPS================================= */
.HeadPopUp{
	background-color: #fff;
	border: 1px solid #808080;
	box-shadow: 0 0 2px #555;
	display: none;
	position: absolute;
	width: 360px;
	border-radius: 5px;
	margin-top: 32px;
}

#HeadPopUpBox1 {
	margin-left: -200px;
}

#HeadPopUpBox2 {
	margin-left: -240px;
}

#HeadPopUpBox3 {
	margin-left: -280px;
}

.PopUpArrow{
	position: absolute;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	margin-right: 4px;
	top: -8px;
	z-index: 200;
}

#HeadPopUpBox1 .PopUpArrow{
	right: 130px;
}

#HeadPopUpBox2 .PopUpArrow{
	right: 90px;
}

#HeadPopUpBox3 .PopUpArrow{
	right: 50px;
}

#HeadPopUpBox2 .PopUpTable,
#HeadPopUpBox3 .PopUpTable{
	overflow-y: scroll;
	max-height: 456px;
	display: block;
}

.PopUpTable{
	width: 100%;
	margin-bottom: -1px;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
}

.PopUpTable *{
	position: relative;
	z-index: 4;
}

.PopUpTable td{
	border-bottom: 1px solid #aaa;
	border-radius: 0px;
}

.PopUpHeader{
	font-weight: bold;
	padding: 10px 10px 8px 10px;
	box-shadow: 0 0 2px #555;
	position: relative;
	border-radius: 5px 5px 0 0;
	z-index: 50;
	margin: 0;
}

.PopUpFooter{
	padding: 10px 10px 8px 10px;
	box-shadow: 0 0 2px #555;
	position: relative;
	border-radius: 0 0 5px 5px;
	z-index: 50;
	margin: 0;
	text-align: center;
	background-color: #fff;
}

.headerBlock {
	border-radius: 5px;
	padding: 5px 20px;
}

.headerBlock img {
	float: right;
	display: block;
	top: 2px;
}

#HeadPopUpBox1 .headerBlock{
	height: 30px;
}

.friendrequestName{
	line-height: 24px;
}

.message{
	background-color: #ffb;
}
.message:hover{
	background-color: #ff8;
}

.messageElement{
	width: 360px;
	cursor: pointer;
}

.notification-badge{
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	color: #fff;
	position: absolute;
	float: right;
	margin-left: 22px;
	margin-top: -8px;
	background-color: #B3C833;
	border-radius: 2px;
	text-align: center;
	box-shadow: 0 0 3px #000;
	padding: 0 2px;
}

.notification{
	padding: 0 20px;
}
.notification.accepted{
	background-color:#efe;
}
.notification.declined{
	background-color:#fee;
}
.notification.friendRequestAccepted{
	background-color:#eef;
}
.notification.new.accepted{
	background-color:#bfb;
}
.notification.new.declined{
	background-color:#fbb;
}
.notification.new.friendRequestAccepted{
	background-color:#bbf;
}
.notification.new {
	/* box-shadow: inset 0 0 2px #000; */
}

.notification.request{
	background-color: #eef;
	padding: 6px 20px;
}

.all_notifications td{
	border-bottom: 0;
	border-radius: 5px;
	display: block;
	margin-bottom: 10px;
	padding: 1px 20px;
}

#greybar {
	background-color: #C4C4C4;
	height: 40px;
	position: relative;
	top: 40px;
	width: 100%;
	padding: 3px 0;
}

#headMenue {
	list-style: none;
	margin: 0px;
	position: fixed;
	right: 0px;
}

#headMenueItem1 {
	float: right;
	-moz-transition: padding 0.7s ease;
	-webkit-transition: padding 0.7s ease;
}

#headMenueItem2 {
	float: right;
	-moz-transition: padding 0.7s ease;
	-webkit-transition: padding 0.7s ease;
}

#headMenueItem3 {
	float: right;
	-moz-transition: padding 0.7s ease;
	-webkit-transition: padding 0.7s ease;
}

#headMenueItem1:hover {
	padding: 25px 10px;
}

#headMenueItem2:hover {
	padding: 25px 10px;
}

#headMenueItem3:hover {
	padding: 25px 10px;
}

.headMenueItem {
	padding: 15px 10px;
}

.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font: 13px/27px Arial,sans-serif;
	color: #3366cc;
	height: 30px;
	background: #2D2D2D;
}
/* profil page styles */
#main_left {
	background-color: white;
}

#main_right {
	background-color: white;
}

#main_center {
	background-color: white;
}
#main_center form {
	display: inline;
}

.ProfilInfo {
	font-size: 15px;
	margin: 5px 0;
	width: 120px;
}

#mainProfilCrop {
	width: 200px;
	border: 0px;
}

#mainProfilPicCrop {
	height: 200px;
	overflow: hidden;
	display: block;
	cursor: pointer;
}

#fullpic {
	display: block;
	max-width: 680px;
	max-height: 720px;
}

.RowWidth {
	width: 80px;
}
/* home page styles */
#left {
	text-align: center;
}

#middle_top {
	text-align: left;
	width: 720px;
}

#right {
	text-align: center;
}

#friendsBrowser{
	text-align: center;
	padding-top: 36px;
	vertical-align: top;
}

#loadspinner{
	position: relative; 
	width: 0;
	height: 0;
	transition: opacity 0.5s ease;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 103px;
  top: -10px;
}

#chatload {
  position: relative; 
  width: 0;
  height: 0;
  transition: opacity 0.3s ease;
  left: 50%;
  top: 50%;
}

.bounce_container {
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: -25px;
  margin-top: -25px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: bounce 1s infinite ease-in-out;
  animation: bounce 1s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

#results{
	background-color: #fff;
	text-align: center;
	padding: 10px 0 10px 0;
	border-radius: 5px;
	width: 200px;
}

.chat_fb #results{
	width: 100%;
}

.relationbutton{
	margin: 10px 0 -10px 0;
	border-radius: 2px;
}

.relationlabel {
	background-color: #B3C833;
	padding: 2px 5px 4px 5px;
	border-radius: 2px;
}

.fb_header{
	margin-bottom: 5px;
}

.friend_block {
	background-color: #ddd;
	width: 170px;
	height: 70px;
	margin: 5px;
	border-radius: 5px;
	display: inline-block;
	/* word-break: break-all; */
}
.friend_block_empty {
	background-color: #ddd;
	width: 150px;
	margin: 10px auto;
	border-radius: 5px;
	padding: 10px 10px;
}

.friend_block_font {
	margin: 0px;
	font-family: Arial,sans-serif;
	z-index: 1;
}

.friend_link{
	display: block;
	padding: 16px 0;
}

a.friend_link:hover, a.friend_link:focus {
	text-decoration: underline;
}

.chatpic{
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: -4px;
}

#chatList{
	padding: 6px 2px;
	overflow-y: scroll;
	border: 1px solid black;
	height: 500px;
	width: 200px;
}

#chatnachricht{
	width: 500px;
	margin-left: 0;
	margin-bottom: 8px;
}

#currentChat{
	width: 500px;
	/* height: 616px; */
	height: 500px;
	padding-bottom: 116px; /* Platz für Textarea */
}
#chat{
	border: 1px solid black;
	width: 100%;
	height: 500px;
	margin-bottom: 10px;
	padding: 6px 2px;
	overflow-y: scroll;
}

#chat span{
	opacity: 0;
	cursor: default;
}

#chatelements{
	cursor: default;
}
.chatelement .text{
	cursor: text;
	word-break: break-all;
}
.chatelement{
	width: 50%;
	box-shadow: 0 0 2px #555;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 0px 2px 10px 2px;
	overflow: hidden;
}

.chatelement.left{
	background-color: #B3C833;
	float: left;
}
.chatelement.right{
	background-color: #fff;
	float: right;
}

.chatelement .datum{
	font-size: 12px;
	float: right;
}

#newalert{
	border-radius: 5px;
	opacity: 0.5;
	text-align: center;
    background-color: #000;
	color: white;
    width: 280px;
    margin: -34px auto 10px auto;
	padding: 2px 0;
	cursor: pointer;
}

/*socialArea*/
#socialAreaLists {
	background-color: #ffffff;
	border: 1px solid #808080;
	margin: 10px 15px;
	width: 750px;
}
/* shoppinglist_add page styles */
#shoppinglist_add {
	padding: 0 10px 10px 10px;
	width: 1000px;
}

#shoppinglist_add_element {
	border: 1px solid #9A9A9A;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

th{
	white-space:nowrap;
	padding: 0 10px;
}

.t1 {
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	border-spacing: 0;
}
.t1 th{
	padding-bottom: 8px;
}

.t2 {
	width: 100%;
	margin-top: 10px;
	border-collapse: collapse;
	border-spacing: 0;
}

.t3 {
	margin-top: 10px;
	border-collapse: collapse;
	border-spacing: 0;
	text-align: center;
}

.stream-header{
	background-color: #c4c4c4;
	padding: 10px;
	width: 684px;
	border-radius: 5px
}

.stream-date{
	float:right;
	font-size:12px;
	line-height: 20px;
	font-style: italic;
}

.shoppinglist_item {
	text-align: center;
	font-size: 15px;
}

#shoppinglist_header {
	border-bottom: 2px solid #9A9A9A;
	font-size: 16px;
}

.shoppinglist_item_row {
	border-radius: 6px 0 0 0;
	transition: background-color 0.1s ease;
}

.shoppinglist_item_row:nth-child(2n) {
	background-color: #ddd;
}

.del_Image {
	text-align: center;
	width: 15px;
	height: 15px;
}

.mitbringen{
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
	background-color: #1e5da1;
}
.mitbringen:hover, .mitbringen:active{
	text-decoration: none !important;
}

.mitbringen.mbnicht{
	color: #fff;
	background-color: #dd2d23;
}

.product {
	padding: 0px;
	margin: 0px;
	width: 15%;
}

.maxPrice {
	padding: 0px;
	margin: 0px;
	width: 15%;
}

.amount {
	padding: 0px;
	margin: 0px;
	width: 15%;
}

.info {
	padding: 0px;
	margin: 0px;
}